body {
    background-color: rgb(244, 237, 237);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(109, 104, 104, 0.274);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(18, 17, 18);
  }
  
  .active {
    background-color: #4d494e;
  }

